<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% if page.url == "/" %}
    {%- assign my_title = site.title | append: " | " | append: site.description -%}
{%- elsif page.title -%}
    {%- assign my_title = page.title | append: " | " | append: site.title -%}
{%- else -%}
    {%- assign my_title = site.title -%}
{% endif %}
<title>{{ my_title }}</title>

<meta property="og:title" content="{{ my_title }}">
<meta property="og:site_name" content="{{ my_title }}">
<meta property="og:url" content="{{ site.url }}">
{% if page.excerpt %}<meta property="og:description" content="{{ page.excerpt | strip_html }}">{% else %}<meta property="og:description" content="{{ site.description }}">{% endif %}
<meta property="og:type" content="website">
<meta property="og:image" content="{{ site.url }}/assets/images/map-corps.png">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Michroma&family=Montserrat&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" href="{{ "/assets/stylesheets/style.css" | relative_url }}?{{site.time | date: '%s%N'}}">

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="mask-icon" href="/mask-icon.svg" color="#ffffff">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">

{% feed_meta %}
</head>