<header class="container-fluid">
  <div class="row no-gutters">
    <div class="nav-item nav-item-logo nav-item-white col-md-4 col-sm-12">
      <a href="{{ site.url }}">{% include logo.html %}<h1>MAP<br>CORPS</h1></a>
    </div>
    <div class="nav-item nav-item-page nav-item-red col-md-2 col-sm-12">
      <a href="{{ site.url }}/university">University</a>
    </div>
    <div class="nav-item nav-item-page nav-item-green col-md-2 col-sm-12">
      <a href="{{ site.url }}/netlabel">Netlabel</a>
    </div>
    <div class="nav-item nav-item-page nav-item-blue col-md-2 col-sm-12">
      <a href="{{ site.url }}/community">Community</a>
    </div>
    <div class="nav-item nav-item-page nav-item-black col-md-2 col-sm-12">
      <a href="{{ site.url }}/further">Further</a>
    </div>
  </div>
  <div class="row">
    <div class="col horizons">
        <div class="horizon1"></div>
        <div class="horizon2"></div>
        <div class="horizon3"></div>
        <div class="horizon4"></div>
        <div class="horizon5"></div>
    </div>
  </div>
</header>