<div class="col-md-6 col-sm-12">
  <h2>MAPSQUEST</h2>
  <a href="https://mapcorps.bandcamp.com"><img src="/assets/content/mapsquest.jpg" /></a>
  <br>
  <br>
  <p><a href="https://mapcorps.bandcamp.com">MAPSQUEST</a> was released on July 4th 2021. This compilation album features mapcore artists:</p>
  <br>
  <ul>
    <li><a href="https://github.com/ryanlaws">license</a></li>
    <li><a href="https://runriotrun.bandcamp.com">run riot run</a></li>
    <li><a href="https://soundcloud.com/iamacube">Crystal Crumb</a></li>
    <li><a href="https://colmkil.bandcamp.com">colmkil</a></li>
    <li><a href="https://stuxnet.me">STUXNET</a></li>
    <li><a href="https://whatwetalkabout.bandcamp.com">What We Talk About</a></li>
    <li><a href="https://obakegaku.bandcamp.com">Obakegaku</a></li>
    <li><a href="https://www.instagram.com/eim_hin">Mahanahan</a></li>
    <li><a href="https://www.instagram.com/konstantine.f/">Konstantine</a></li>
    <li><a href="https://nonverbalpoetry.bandcamp.com">Non Verbal Poetry</a></li>
    <li><a href="https://youtube.com/channel/UC3enr3SH0swxB9kSc4L3UfQ">Inconvenient Body</a></li>
    <li><a href="https://soundcloud.com/romjay">romjay</a></li>
    <li><a href="https://sent-not-received.bandcamp.com">Sent≠Received</a></li>
    <li><a href="https://alanza.bandcamp.com">Alanza</a></li>
    <li><a href="https://www.instagram.com/reg.barkley/">reg.barkley</a></li>
    <li><a href="https://la-el.bandcamp.com">LA EL</a></li>
    <li><a href="https://mattlowery.bandcamp.com">Matt Lowery</a></li>
    <li><a href="https://scannerdarkly.bandcamp.com">scanner darkly</a></li>
  </ul>
  <p>All proceeds will be donated to the <a href="https://www.ucsusa.org/">Union of Concerned Scientists</a>.</p>
</div>
