<div class="col-md-6 col-sm-12">
  <h2>NETLABEL</h2>
  <img src="/assets/content/mapsquest-draft.jpg" />
  <br>
  <br>
  <p><a href="https://mapcorps.bandcamp.com">MAPSQUEST</a> will be released on July 4th, 2021. This compilation album features mapcore artists:</p>
  <br>
  <ul>
    <li>license</li>
    <li>run riot run</li>
    <li>Crystal Crumb</li>
    <li>colmkil</li>
    <li>STUXNET</li>
    <li>What We Talk About</li>
    <li>Mahanahan</li>
    <li>Inconvenient Body</li>
    <li>romjay</li>
    <li>Sent≠Received</li>
    <li>reg.barkley</li>
    <li>LA EL</li>
    <li>scanner darkly</li>
    <li>Konstantine</li>
    <li>Non Verbal Poetry</li>
    <li>Obakegaku</li>
    <li>Alanza</li>
  </ul>
  <p>All proceeds will be donated to the <a href="https://www.ucsusa.org/">Union of Concerned Scientists</a>.</p>
</div>