<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

{% if page.url == "/" %}
<script>
$(function() {
  $(".home-content div").each(function() {
    $(this).find("p").first().addClass("drop-caps");
  });
});
</script>
{% endif %}

{% if page.title == "University" %}
<script>
  const gridClass = (x,y) => `x${x}y${y}`;

  function linkClickHandler() {
    if (!isUniversity(this)) return;

    const [_, content_id] = $(this).attr("href").split("#");
    if (content_id != null) {
      show_content(content_id);
    }
  }

/*
 * Step 1: build our data structure out from collections/_posts/*.md so JS can access.
 */
const posts = [
{% for post in site.posts | sort: "content_id" %}
  {
    "layout": "{{ post.layout }}",
    "url": "{{ post.url }}",
    "content_id": {{ post.content_id }},
    "author": "{{ post.author }}",
    "ascii": "{{ post.ascii }}",
    "x": {{ post.x }},
    "y": {{ post.y }},
    "class": "{{ post.class }}",
  },
{% endfor %}
];

console.log(posts);

/*
 * Step 2: make the map.
 */
function makeGrid(x, y) {
  var out = "";
  for (var iy = y - 1; iy >= 0; iy--) {
    var cells = "";
    for (var ix = x - 1; ix >= 0; ix--) {
      const className = gridClass(ix, iy);
      cells += makeCell(ix, iy, className);
    }
    out += makeRow(cells);
  }
  return out;
}

function makeRow(cells) {
  return '<div class="longitude">' + cells + "</div>";
}

function makeCell(x, y, className) {
  return '<div class="cell '+ className + '" data-cell-x="' + x + '" data-cell-y="' + y + '">.</div>';
}

if (document.getElementById("map-inner")) {
  document.getElementById("map-inner").innerHTML = makeGrid(6, 30);
}

/*
 * Step 3: profit.
 */

// [x] loop through posts
// [x] get x and y
// [x] inject ascii character
// [?] inject css class
// [?] simulate clicks $("[data-content-id='" + content_id + "']").click();


/*
 * Left content area. Sorry for the jQuery. ¯\_(ツ)_/¯
 */
function show_content(content_id) {
  $("a.post-nav.active").removeClass("active");
  $("a.post-nav[data-content-id='" + content_id + "']").addClass("active");
  $(".post-content").hide();
  $(".post-"+ content_id).show();
  redrawMap(content_id);
}

function redrawMap(content_id) {
  const cells = $(".cell");
  posts.forEach((post) => {
    const cn = gridClass(post.x, post.y);
    let cell = document.querySelector(`.${cn}`);
    if (cell) {
      // not a strict compare because they might be number or string
      const islandClass = post.content_id == content_id ? 
        "present-island" : "island";
      cell.outerHTML = `<a class="cell ${cn} dormant-island" href="#${post.content_id}" data-cell-x="${post.x}" data-cell-y="${post.y}">${post.ascii}</div>`;
      cell = document.querySelector(`.${cn}`);
      $(cell).addClass("dormant-island").click(linkClickHandler);
      setTimeout(() => {
        $(cell).addClass(islandClass).removeClass("dormant-island");
      });
    } else {
      console.warn(`${cn} is OFF THE MAP`);
      return;
    }
  });
}

function isUniversity(a) {
  return a.origin === window.location.origin;
}

$(function() {
 /*
  * Posts main navigation.
  */
  $("a.post-nav").click(function() {
    show_content($(this).data("content-id"))
  });

 /*
  * Inline post navigation.
  */
  $("a").click(linkClickHandler);

  /*
   * Set the initial log view based on the anchor in the URL.
   */
  var content_id = window.location.hash.substr(1) === "" ? 1 : window.location.hash.substr(1);
  content_id && setTimeout(show_content, 0, content_id);

  /*
   * Make all post images link to high res versions of themsleves.
   * The other options besides JS were to do it in markdown which is an awful author/writing
   * experience or extend Jekyll to do this during compilation. This is 3 lines.
   */
  $(".post-content img").each(function() {
    $(this).wrap('<a href="' + this.src + '"></a>');
  });

  /*
   * Make the first letter big.
   */
  $(".post-content").each(function() {
    $(this).find("p").first().addClass("drop-caps");
  });

  /*
   * Highlight x and y in the map on hover.
   */
  $(".cell").hover(
    function() {
      $(".cell[data-cell-x='" + $(this).attr("data-cell-x") + "']").addClass("highlight");
      $(".cell[data-cell-y='" + $(this).attr("data-cell-y") + "']").addClass("highlight");
    },
    function() {
      $(".cell[data-cell-x='" + $(this).attr("data-cell-x") + "']").removeClass("highlight");
      $(".cell[data-cell-y='" + $(this).attr("data-cell-y") + "']").removeClass("highlight");
    }
  );

});

</script>
{% endif %}

<!-- this was intended for for global js, but do whatever you need to -->
<script src="{{ "/assets/javascript/script.js" | relative_url }}?{{site.time | date: '%s%N'}}"></script>