<!--
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
-->


{% if page.title == "University" %}
<script>

/*
 * Step 1: build our data structure out from _data/university.yml so JS can access.
 */
var university = [];
{% assign points_of_interest = site.data.university | sort: "id" %}
{% for point in points_of_interest %}
  var o_{{ point.id }} = {};
  o_{{ point.id }}["id"] = {{ point.id }};
  o_{{ point.id }}["ascii"] = "{{ point.ascii }}";
  o_{{ point.id }}["x"] = {{ point.x }};
  o_{{ point.id }}["y"] = {{ point.y }};
  o_{{ point.id }}["class"] = "{{ point.class }}";
  var a = [];
  {% for attribute in point.attributes %}
    a.push("{{ attribute }}");
  {% endfor %}
  university.push(o_{{ point.id }});
{% endfor %}

console.log(university);

/*
 * Step 2: make the map.
 */
function makeGrid(x, y) {
  var out = '';
  for (var iy = y - 1; iy >= 0; iy--) {
    var cells = '';
    for (var ix = x - 1; ix >= 0; ix--) {
      var className = 'x' + ix + 'y' + iy;
      cells += makeCell(className);
    }
    out += makeRow(cells);
  }
  return out;
}

function makeRow(cells) {
  return '<div class="cell-row">' + cells + '</div>';
}

function makeCell(className) {
  return '<div class="cell ' + className + '">.</div>';
}

if (document.getElementById('university')) {
  document.getElementById('university').innerHTML = makeGrid(64, 32);
}

/*
 * Step 3: profit.
 */

// loop through univeristy
// get x and y
// inject ascii character
// inject css class

</script>
{% endif %}

<!-- this was intedned for for global js, but do whatever you need to -->
<script src="{{ "/assets/javascript/script.js" | relative_url }}?{{site.time | date: '%s%N'}}"></script>