#map-outer {
  padding: 20px;
  background: #CCCCCC; }

#map-middle {
  border: 10px ridge #0000FF;
  width: 100%;
  background: #0000FF; }

#map-inner {
  background: #0000FF;
  width: 120px;
  margin: auto;
  display: block;
  background: #0000FF;
  display: block;
  position: relative; }

.longitude {
  height: 20px;
  width: 600px; }
  .longitude a, .longitude a:link, .longitude a:active, .longitude a:visited {
    color: #EEEEEE;
    font-weight: bold;
    text-decoration: none; }

.cell {
  color: #CCCCCC;
  text-align: center;
  margin: 0;
  padding: 0;
  float: left;
  line-height: 20px;
  width: 20px;
  height: 20px; }

.dormant-island {
  color: #EEEEEE;
  background-color: #111111; }

.island {
  color: #EEEEEE; }

.present-island {
  color: #EEEEEE; }

.highlight-cell {
  background: #FF0000; }

::selection {
  background: #00FF00;
  color: #FF0000; }

.no-padding {
  padding: 0; }

body {
  background: #EEEEEE;
  color: #111111;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Michroma", sans-serif;
  text-transform: uppercase; }

a, a:link, a:active, a:visited {
  color: #0000FF;
  text-decoration: underline; }

p {
  font-size: 1rem; }

p.drop-caps::first-letter {
  font-family: "Michroma", sans-serif;
  color: #0000FF;
  float: left;
  font-size: 5rem;
  margin: 0 0.1rem 0 0;
  line-height: 0.85; }

blockquote {
  background: #CCCCCC;
  font-family: "Michroma", sans-serif;
  padding: 10px 10px 10px 20px;
  border-left: 4px solid #FF0000; }
  blockquote p {
    font-size: 2rem; }

audio {
  margin: 0;
  padding: 0 0 20px 0;
  border: 5px solid transparent; }

a.post-nav {
  color: #0000FF;
  cursor: pointer;
  padding: 50px 5px 0 5px;
  display: inline-block;
  background: #CCCCCC; }

a.post-nav:hover,
a.post-nav.active {
  color: #EEEEEE;
  background: #0000FF; }

.home-content img,
.post-content img {
  width: 100%;
  height: auto;
  border: 5px solid transparent;
  background: #0000FF; }

pre {
  color: #EEEEEE;
  background: #0000FF;
  display: block;
  padding: 5px;
  border-radius: 5px; }
  pre a, pre a:link, pre a:active, pre a:visited {
    color: #EEEEEE; }

code {
  color: #EEEEEE;
  background: #0000FF;
  padding: 2px;
  border-radius: 5px; }

main h2 {
  color: #00FF00; }
main hr {
  border-top: 5px solid #00FF00; }

ol {
  padding: 0 0 0 2rem; }

ol li {
  counter-increment: list;
  list-style-type: none;
  position: relative; }

ol li:before {
  color: #FF0000;
  content: counter(list);
  position: absolute;
  font-weight: bold;
  width: 2rem;
  margin-left: -2rem; }

ul {
  padding: 0 0 0 1rem;
  list-style: none; }

ul li::before {
  content: "+";
  color: #FF0000;
  font-weight: bold;
  display: inline-block;
  width: 1rem;
  margin-left: -1rem; }

footer p {
  color: #FF0000; }

.horizons div {
  margin-bottom: 2px;
  border-style: solid; }
.horizons .horizon5 {
  border-bottom-width: 5px; }
.horizons .horizon4 {
  border-bottom-width: 4px; }
.horizons .horizon3 {
  border-bottom-width: 3px; }
.horizons .horizon2 {
  border-bottom-width: 2px; }
.horizons .horizon1 {
  border-bottom-width: 1px; }

footer .horizons div {
  border-color: #FF0000; }

header .horizons div {
  border-color: #0000FF; }

header a, header a:link, header a:active, header a:visited {
  color: #111111;
  display: inline-block;
  width: 100%; }
header a:hover {
  color: #0000FF !important; }
  header a:hover h1 {
    text-decoration: underline; }
  header a:hover .logo {
    border-color: #0000FF; }
header h1 {
  float: left;
  font-size: 40px; }
header .logo {
  float: right;
  height: 90px;
  width: 90px;
  background-color: #111111;
  border-radius: 50%;
  display: inline-block;
  margin: 10px;
  border: 4px solid #CCCCCC; }

.global-warming, .island, a:hover, audio, .home-content img:hover,
.post-content img:hover, header a:hover, header .logo {
  -webkit-animation: rgb-cycle 10s linear 0s infinite normal;
  -moz-animation: rgb-cycle 10s linear 0s infinite normal;
  -ms-animation: rgb-cycle 10s linear 0s infinite normal;
  animation: rgb-cycle 10s linear 0s infinite normal; }

.global-warming-120, .present-island {
  -webkit-animation: rgb-cycle-120 10s linear 0s infinite normal;
  -moz-animation: rgb-cycle-120 10s linear 0s infinite normal;
  -ms-animation: rgb-cycle-120 10s linear 0s infinite normal;
  animation: rgb-cycle-120 10s linear 0s infinite normal; }

@-webkit-keyframes rgb-cycle {
  0% {
    background-color: #FF0000; }
  33% {
    background-color: #00FF00; }
  66% {
    background-color: #0000FF; }
  100% {
    background-color: #FF0000; } }
@keyframes rgb-cycle {
  0% {
    background-color: #FF0000; }
  33% {
    background-color: #00FF00; }
  66% {
    background-color: #0000FF; }
  100% {
    background-color: #FF0000; } }
@-webkit-keyframes rgb-cycle-120 {
  0% {
    background-color: #00FF00; }
  33% {
    background-color: #0000FF; }
  66% {
    background-color: #FF0000; }
  100% {
    background-color: #00FF00; } }
@keyframes rgb-cycle-180 {
  0% {
    background-color: #00FF00; }
  33% {
    background-color: #0000FF; }
  66% {
    background-color: #FF0000; }
  100% {
    background-color: #00FF00; } }

/*# sourceMappingURL=style.css.map */
