// variables

$black: #111111
$grey: #CCCCCC
$white: #EEEEEE
$red: #FF0000
$blue: #0000FF
$green: #00FF00
$display: 'Michroma', sans-serif
$body: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace

// university of maps

#university 
  width: 100%
  display: block
  position: relative
  
.longitude
  height: 20px

.cell 
  line-height: 0px
  width: 20px
  height: 20px
  margin: 0
  padding: 0
  float: left

// global

::selection
  background: $green
  color: $red

.no-padding
  padding: 0

body
  background: $white
  color: $black
  font-family: $body

h1, h2
  font-family: $display

a, a:link, a:active, a:visited
  color: $blue

a:hover
  @extend .global-warming

a.log-nav
  color: $blue
  cursor: pointer
  padding: 50px 5px 0 5px
  display: inline-block
  background: $grey

a.log-nav:hover,
a.log-nav.active
  color: $white
  background: $blue

.log-content img
  width: 100%
  height: auto
  border: 5px solid transparent
  background: $blue
  &:hover
    @extend .global-warming

code
  color: $white
  background: $blue
  display: block
  padding: 5px
  border-radius: 5px

main
  h2
    color: $green
  hr
    border-top: 5px solid $green

ul
  list-style: none
  margin: 0 0 1rem 1rem
  padding: 0

ul li::before
  content: "\002B"
  color: $green
  font-weight: bold
  display: inline-block
  width: 1rem
  margin-left: -1rem

footer
  p
    color: $red

.horizons
  div
    margin-bottom: 2px
    border-style: solid
  .horizon5
    border-bottom-width: 5px
  .horizon4
    border-bottom-width: 4px
  .horizon3
    border-bottom-width: 3px
  .horizon2
    border-bottom-width: 2px
  .horizon1
    border-bottom-width: 1px

footer .horizons div
  border-color: $red

header .horizons div
  border-color: $blue

header
  a, a:link, a:active, a:visited
    color: $black
    display: inline-block
    width: 100%
  a:hover
    color: $blue !important
    @extend .global-warming
    h1  
      text-decoration: underline
    .logo
      border-color: $blue
  h1
    float: left
    font-size: 40px
  .logo
    float: right
    height: 90px
    width: 90px
    background-color: $black
    border-radius: 50%
    display: inline-block
    margin: 10px
    border: 4px solid $grey
    @extend .global-warming

// animations

.global-warming
  -webkit-animation: rgb-cycle 10s linear 0s infinite normal
  -moz-animation: rgb-cycle 10s linear 0s infinite normal
  -ms-animation: rgb-cycle 10s linear 0s infinite normal
  animation: rgb-cycle 10s linear 0s infinite normal

@-webkit-keyframes rgb-cycle
  0%
    background-color: $red
  33%
    background-color: $green
  66%
    background-color: $blue
  100%
    background-color: $red

@keyframes rgb-cycle
  0%
    background-color: $red
  33%
    background-color: $green
  66%
    background-color: $blue
  100%
    background-color: $red