---
layout: default
---
<div class="container-fluid no-padding">
  <div class="row home-content">
    <div class="col-md-6 col-sm-12">
    <h2>MAPSQUEST</h2>
    <img src="/assets/content/mapsquest-draft.jpg" />
    <br>
    <br>
    <p>Venturing across the psychogeography of the soundmap. Microgenres, micropolitics, microlandscapes. Space is treated as the dead, the fixed, the undialectical, the immobile. Time, on the contrary, is richness, fecundity, life, dialectic. We are on a quest for maps which invert this dichotomy — rhythm as an exploration of space rather than time. A moment is a movement; a minute: a mile. Releasing infinity from the palimpsest of our hands. Maps are interim reports, they interpret space in a moment, they do not time travel, they operate on a plane perpendicular to our perception. We, the time-travelers, must look to the future to find maps for today. Now, we attempt to sketch out this kind of territory, these Sapir-Whorf harmonics, capturing whatever we make while unfinding our ways. A virology of timbres as studied through an adversarial network on a MacBook, wet.</p>
    <p>Psychogeography — how people imagine space — in the colonial context gets deeply embedded and embodied in both the colonizer and the colonized, though not in the same way. The colonial interaction redefines the space for both parties. Maps, in cartographer Tim Robinson’s estimation, are "interim reports" of a version of these changing definitions, but he is attempting to define space for the post-colonial context, where earlier mappings had defined it for the colonizer. His maps reflect both "real and spectral spaces", in the vein of "deep maps" — a map of a place not divorced from the people who are there, but for those people. The "rational" mapping is the logic of the colonizer and is not rational for the people living the experience of the mapped environment.</p>
    <p>Maps are a powerful interface between humans and the earth: the map is the representation of man's sense of the world, he had before him and used it for his material needs. The world is defined in this perspective as a world with relative order and contrast, and within that, a topological representation of space in time, from which he can perceive the conditions of his existence, like the thing and the people around him, and the whole Earth as an object of study.</p>
    <p>A territory that is always already defined — we can't reach it. The effect is like a dream of God, without time — but it is equally defined by our narration. You are in it. A map allows one to think about the location and therefore make oneself believe one exists. It places one there, with an identity and a position within its world and its power. You are put under power by a map that shows your identity.</p>
    <p>"This," [the Echo Hunter] said, "is my last visit to this valley; it was once a favourite spot of mine, but the presence of man has tainted it." After we had parted about ten minutes, a few discordant notes of his bugle awakened a thousand more discordant echoes, and I never saw him more!</p>
    <hr>
    <strong>MAPSQUEST</strong> will be released on July 4th, 2021. This compilation album features mapcore artists:
    <ul>
      <li>license</li>
      <li>run riot run</li>
      <li>Crystal Crumb</li>
      <li>colmkil</li>
      <li>STUXNET</li>
      <li>What We Talk About</li>
      <li>Mahanahan</li>
      <li>Inconvenient Body</li>
      <li>romjay</li>
      <li>Sent≠Received</li>
      <li>reg.barkley</li>
      <li>LA EL</li>
      <li>scanner darkly</li>
      <li>Konstantine</li>
      <li>Non Verbal Poetry</li>
      <li>Obakegaku</li>
      <li>Alanza</li>
    </ul>
    <p>All proceeds will be donated to the <a href="https://www.ucsusa.org/">Union of Concerned Scientists</a>.</p>
    <hr>
    </div>
    <div class="col-md-6 col-sm-12">
      <h2>University</h2>
      <a href="{{ site.url}}/university"><img src="/assets/images/university-of-maps.gif"><a/>
      <br/>
      <br/>
      <p><a href="/university">University</a> is a weekly content node for practical mapcore poetics. This autofictional account will satisfy both the scientist with detailed step-by-step instructions as well the romanticist with non-deterministic whimsy.</p>
      <hr>
      <h2>POSTS</h2>
      <ul>
        {% for post in site.posts %}  
        <li><a href="/university/#{{ post.content_id }}">#{{ post.content_id }} {{ post.title }}</a></li>
        {% endfor %}
      </ul>
      <hr>
      <h2>Further</h2>
      <ul>
        <li><a href="/feed.xml">XML FEED</a>
        <li><a href="https://flashcrash.net">FLASH CRASH</a>
        <li><a href="https://northern-information.github.io/mapcore">EXEGESIS</a>
        <li><a href="https://github.com/northern-information/mapcorps.net">GITHUB</a>
        <li><a href="https://mapcorps.bandcamp.com">BANDCAMP</a>
        <li><a href="/assets/images/ai.png">.</a>
      </ul>
      <hr>
    </div>
  </div>
</div>
