---
layout: default
---
<div class="container-fluid no-padding">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h2>UNIVERSITY POSTS</h2>
      {% assign posts = site.posts | sort: "content_id" %}
      {% for post in posts%}
        <a href="#{{ post.content_id }}" class="post-nav" data-content-id="{{ post.content_id }}">{{ post.content_id }}</a>
      {% endfor %}
      <hr>
      {% for post in posts %}
        <div class="post-content post-{{ post.content_id }}" style="display: none;">

<pre class="my-3">
post.layout: {{ post.layout }}
post.title: {{ post.title }}
post.date: {{ post.date }}
post.url (permalink): {{ post.url }}
post.content_id: {{ post.content_id }}
post.author: {{ post.author }}
post.type: {{ post.type }}
post.ascii: {{ post.ascii }}
post.x: {{ post.x }}
post.y: {{ post.y }}
post.class: {{ post.class }}
post.attributes: {{ post.attributes | join: ", " }}
</pre>

          {{ post.content | markdownify }}
          <hr>
        </div>
      {% endfor %}
    </ul>
    </div>
    <div class="col-md-6 col-sm-12">
      <h2>INTERACTIVE MAP UNDER CONSTRUCTION...</h2>
      <div id="university"></div>
    </div>
  </div>
</div>