---
layout: default
---
<div class="container-fluid no-padding">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h2>LOGS</h2>
      {% assign logs = site.logs %}
      {% for log in site.logs %}
        <a href="#{{ log.content_id }}" class="log-nav" data-content-id="{{ log.content_id }}">{{ log.content_id }}</a>
      {% endfor %}
      <hr>
      {% for log in site.logs %}
        <div class="log-content log-{{ log.content_id }}" style="display: none;">

<pre class="my-3">
log.content_id: {{ log.content_id }}
log.author: {{ log.author }}
log.type: {{ log.type }}
log.ascii: {{ log.ascii }}
log.x: {{ log.x }}
log.y: {{ log.y }}
log.class: {{ log.class }}
log.attributes: {{ log.attributes | join: ", " }}
</pre>

          {{ log.content | markdownify }}
          <hr>
        </div>
      {% endfor %}
    </ul>
    </div>
    <div class="col-md-6 col-sm-12">
      <h2>INTERACTIVE MAP UNDER CONSTRUCTION...</h2>
      <div id="university"></div>
    </div>
  </div>
</div>